<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>收益汇总</title>
    <link rel="stylesheet" th:href="@{/css/main.admin.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/main.amazeui.min.css}" type="text/css" media="all"/>
    <link href="https://cdn.staticfile.org/layui/2.7.6/css/layui.css" rel="stylesheet">
    <style>
        body{padding: 6px 16px;}
        .demo-carousel{height: 200px; line-height: 200px; text-align: center;}
    </style>
</head>
<body>
<header class="menu">
    <div th:replace="headerNew.html"></div>
</header>
<blockquote class="layui-elem-quote">收益汇总：您可在此页面查看股票基金每日收益汇总。</blockquote>
<table class="layui-hide" id="demo" lay-filter="test"></table>
<script th:src="@{/js/BigDecimal.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button type="button" class="layui-btn layui-btn-sm" lay-event="add">
            <i class="layui-icon">&#xe654;</i>
        </button>
        <button type="button" class="layui-btn layui-btn-sm" lay-event="delete">
            <i class="layui-icon">&#xe640;</i>
        </button>
    </div>
</script>
<script>
    layui.use(function(){
        // 得到需要的内置组件
        var layer = layui.layer; //弹层
        var table = layui.table; //表格

        // 向世界问个好
        layer.msg('收益汇总：您可在此页面查看股票基金每日收益汇总。');

        // 执行一个 table 实例
        table.render({
            elem: '#demo'
            // ,height: 600
            ,url: '/deposit' //数据接口（此处为静态数据，仅作演示）
            ,title: '收益汇总'
            ,even: true //开启隔行背景
            // ,page: true //开启分页
            ,totalRow: true //开启合计行
            ,toolbar: '#toolbarDemo' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,parseData: function(res){ //res 即为原始返回的数据
                for(var i=0;i<res.value.length;i++) {
                    var item = res.value[i];
                    item.fundIncomePercent = (parseFloat(item.fundDayIncome).toFixed(4) * 100/parseFloat(item.fundMarketValue)).toFixed(2) + "";
                    item.stockIncomePercent = (parseFloat(item.stockDayIncome).toFixed(4) * 100/parseFloat(item.stockMarketValue)).toFixed(2) + "";
                    item.totalIncomePercent = (parseFloat(item.totalDayIncome).toFixed(4) * 100/parseFloat(item.totalMarketValue)).toFixed(2) + "";
                    item.fundDayIncome = parseFloat(item.fundDayIncome).toFixed(2) + '';
                    item.stockDayIncome = parseFloat(item.stockDayIncome).toFixed(2) + '';
                    item.totalDayIncome = parseFloat(item.totalDayIncome).toFixed(2) + '';
                    item.fundMarketValue = parseFloat(item.fundMarketValue).toFixed(2) + '';
                    item.stockMarketValue = parseFloat(item.stockMarketValue).toFixed(2) + '';
                    item.totalMarketValue = parseFloat(item.totalMarketValue).toFixed(2) + '';
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.value.length, //解析数据长度
                    "data": res.value //解析数据列表
                };
            }
            ,cols: [ [ //表头
                {field: 'date', title: '日期', width: 150, sort: true,totalRow: '合计：'}
                ,{field: 'fundDayIncome', title: '基金收益', width:200, sort: true, totalRow: true}
                ,{field: 'fundMarketValue', title: '基金市值', width:200, sort: true}
                ,{field: 'fundIncomePercent', title: '基金盈利比率 %', width:200, sort: true}

                ,{field: 'stockDayIncome', title: '股票收益', width:200, sort: true, totalRow: true}
                ,{field: 'stockMarketValue', title: '股票市值', width:200, sort: true}
                ,{field: 'stockIncomePercent', title: '股票盈利比率 %', width:200, sort: true}

                ,{field: 'totalDayIncome', title: '总收益', width:200, sort: true, totalRow: true}
                ,{field: 'totalMarketValue', title: '总市值', width:200, sort: true}
                ,{field: 'totalIncomePercent', title: '总盈利比率 %', width:200, sort: true}
            ] ]
        });
        // 头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'add':
                    layer.msg('统计当日盈利');
                    layer.confirm('真的提前统计当日盈利么?', function(index){
                        layer.close(index);
                        //向服务端发送删除指令
                        deposit();
                        // obj.del(); //删除对应行（tr）的DOM结构
                    });
                    break;
                case 'delete':
                    layer.msg('删除当日盈利');
                    layer.confirm('真的删除当日盈利么?', function(index){
                        layer.close(index);
                        //向服务端发送删除指令
                        deleteDeposit();
                        // obj.del(); //删除对应行（tr）的DOM结构
                    });
                    break;
            };
        });

    });


    function deposit(){
        var url = "/deposit";
        var req = {}
        $.ajax({
            url: url,
            type:"post",
            data : JSON.stringify(req),
            dataType:'json',
            contentType: 'application/json',
            success: function (data){
                if(data.code=="00000000") {
                    location.reload();
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        });
    }

    function deleteDeposit(){
        var url = "/deposit";
        var req = {}
        $.ajax({
            url: url,
            type:"delete",
            data : JSON.stringify(req),
            dataType:'json',
            contentType: 'application/json',
            success: function (data){
                if(data.code=="00000000") {
                    location.reload();
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        });
    }
</script>
</body>
</html>