<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/login.style.css}" type="text/css" media="all"/>
<script th:src="@{/js/login.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.md5.js}"></script>
<body onload="init()">
<div class="message warning">
    <div class="inset">
        <div class="login-head">
            <h1>Login Form</h1>
            <div class="alert-close"> </div>
        </div>
        <form id="loginForm" method="post" th:action="@{/login}" >
            <input type="hidden" id="req" name="req"></input>
            <li>
                <input type="text" id="username" name="username" class="text" value="Username" onfocus="this.value = '';" ><a href="#" class=" icon user"></a>
            </li>
            <div class="clear"> </div>
            <li>
                <input type="password" id="password" name="password" value="Password" onfocus="this.value = '';" > <a href="#" class="icon lock"></a>
            </li>
            <div class="clear"> </div>
            <div class="submit">
                <input type="submit" onclick="login()" value="Sign in" >
                <h4>
                    <a th:if = "${resp?.code != '00000000'}">
                        <div th:text="${resp?.msg}"></div>
                    </a>
                </h4>
                <div class="clear">  </div>
            </div>


        </form>
    </div>
</div>
</div>
<div class="clear"> </div>
<!--- footer --->
<div class="footer">
    <p>Copyright &copy; 2018. buxuesong</p>
</div>
</body>
</html>