<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Groovy</title>
  <link rel="stylesheet" th:href="@{/css/main.admin.css}" type="text/css" media="all"/>
  <link rel="stylesheet" th:href="@{/css/main.amazeui.min.css}" type="text/css" media="all"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css" media="all"/>
  <script th:src="@{/js/main.js}"></script>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/app.js}"></script>
  <script th:src="@{/js/sidebar.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <!-- 日历控件 -->
  <script th:src="@{/js/laydate.js}"></script>
</head>
<body onload="sidebar();getData()">

<header class="menu">
  <div th:replace="header.html"></div>
</header>
<div class="am-cf admin-main">

  <div th:replace="sidebar.html"></div>
  <div class=" admin-content">
    <div class="daohang"></div>
    <div class="admin-biaogelist">
      <div class="listbiaoti am-cf">
        <ul class="am-icon-users"> Groovy</ul>
        <dl class="am-icon-home" style="float: right;">当前位置： 首页 > <a href="#">Groovy</a></dl>
        <dl>
          <!--          <button type="button" onclick="addAccount()" class="btn btn-primary am-icon-plus" data-toggle="modal"> 新增账户</button>-->
          <!--                    <button type="button" onclick="addAccount()" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus" > 新增账户</button>-->
        </dl>
      </div>
      <div class="am-form am-g">
        <form id="queryForm">
          <label for="groovyQuery">Groovy Query:</label>
          <textarea class="form-control" id="groovyQuery" rows="25"></textarea>
          <button type="button" class="btn btn-primary" onclick="submitQuery()">Submit</button>
        </form>
        <div id="result"></div>
      </div>
    </div>
    <script>
      function submitQuery() {
          var query = $('#groovyQuery').val();
          $.ajax({
              url: '/execute-query',
              type: 'POST',
              data: { query: query },
              success: function(data) {
                  $('#result').text('Result: ' + data);
              },
              error: function(error) {
                  $('#result').text('Error: ' + error.responseText);
              }
          });
      }
    </script>
  </div>
</div>
</body>
</html>