<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<header class="am-topbar admin-header">
    <div class="am-topbar-brand"></div>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav admin-header-list">
            <li class="kuanjie">
                <a th:href="@{/stockAndFundNew.html}">股票基金汇总</a>
                <a th:href="@{/fundNew.html}">基金</a>
                <a th:href="@{/stockNew.html}">股票</a>
                <a th:href="@{/depositNew.html}">收益汇总</a>
                <a th:href="@{/main.html}">返回旧版本</a>
            </li>
        </ul>
    </div>
</header>
</html>