<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>字典数据维护</title>
    <link rel="stylesheet" th:href="@{/css/main.admin.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/main.amazeui.min.css}" type="text/css" media="all"/>
    <link href="https://cdn.staticfile.org/layui/2.7.6/css/layui.css" rel="stylesheet">
    <style>
        body{padding: 6px 16px;}
        .demo-carousel{height: 200px; line-height: 200px; text-align: center;}
    </style>
</head>
<body>
<header class="menu">
    <div th:replace="headerNew.html"></div>
</header>
<blockquote class="layui-elem-quote"><div height="60px" id="stockLargeMarket"></div></blockquote>
<blockquote class="layui-elem-quote">APP维护：您可在此页面查看APP数据，以及添加修改APP数据。<a href="mailto:buxuesong@foxmail.com">有任何问题点击这里联系作者: buxuesong@foxmail.com</a></blockquote>
<div class="checkbox">
    <input id="enableAutoRefresh" type="checkbox" checked="checked" name="enableAutoRefresh"> 定时刷新
</div>
<div>
    <div id="model" style="display: none;">
        <div class="modal-dialog modal-lg" style="padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px">
            <div class="modal-content">

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <form class="am-form" id="saveOutComeForm">
                        <input type="hidden" id="type" th:value="APP"/>
                        <div class="am-form-group am-cf">
                            <div class="zuo">字典数据类型：</div>
                            <div class="you">
                                <select disabled="disabled" data-am-selected="{btnSize: 'sm'}">
                                    <option th:value="1" th:selected="true">APP</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group am-cf">
                            <div class="zuo">字典数据编码：</div>
                            <div class="you">
                                <input type="text" class="am-input-sm" id="code" placeholder="请输入字典数据名称，例如东方财富拼音缩写，DFCF">
                            </div>
                        </div>
                        <div class="am-form-group am-cf">
                            <div class="zuo">字典数据名称：</div>
                            <div class="you">
                                <input type="text" class="am-input-sm" id="name" placeholder="请输入字典数据名称，例如东方财富">
                            </div>
                        </div>
                    </form>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="layui-btn" onclick="submitParam()">保存</button>
                    <button type="button" class="layui-btn" onclick="layer.closeAll();">关闭</button>
                </div>

            </div>
        </div>
    </div>
</div>
<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="delete">删除</a>
    <!--    <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>-->
</script>
<script th:src="@{/js/BigDecimal.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/stockLargeMarket.js}"></script>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>

<script>
    var active;
    layui.use(function(){
        // 得到需要的内置组件
        var layer = layui.layer; //弹层
        var table = layui.table; //表格
        var dropdown = layui.dropdown; //下拉菜单

        // 向世界问个好
        layer.msg('字典数据：您可在此页面查看字典数据，以及添加修改字典数据（目前只有APP类型）。');
        getLargeMarketData();
        // 执行一个 table 实例
        table.render({
            elem: '#demo'
            // ,height: 600
            ,url: '/param' //数据接口（此处为静态数据，仅作演示）
            ,title: '用户表'
            ,even: true //开启隔行背景
            // ,page: true //开启分页
            ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,totalRow: true //开启合计行
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.value.length, //解析数据长度
                    "data": res.value //解析数据列表
                };
            }
            ,cols: [ [ //表头
                {type: 'checkbox'}
                ,{field: 'type', title: '类型', width: 560}
                ,{field: 'code', title: '编码', width: 560}
                ,{field: 'name', title: '名称', width: 560}
                ,{title: '操作', width: 130, align:'center', toolbar: '#barDemo'}
            ] ]
        });

        // 头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'add':
                    layer.msg('添加');
                    showDialog('APP');
                    break;
                case 'update':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else if(data.length > 1){
                        layer.msg('只能同时编辑一个');
                    } else {
                        updateParam(checkStatus.data[0].code, checkStatus.data[0].type, checkStatus.data[0].name);
                    }
                    break;
                case 'delete':
                    if(data.length === 0 || data.length > 1){
                        layer.msg('请选择一行');
                    } else {
                        layer.msg('删除');
                        layer.confirm('真的删除'+ checkStatus.data[0].name +'么?', function(index){
                            layer.close(index);
                            //向服务端发送删除指令
                            deleteParam(checkStatus.data[0].code, checkStatus.data[0].type);
                            // obj.del(); //删除对应行（tr）的DOM结构
                            location.reload();
                        });

                    }
                    break;
            };
        });

        // 单元格工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'edit') {
                layer.msg('编辑操作');
                updateParam(data.code, data.type, data.name);
            } else if (layEvent === 'delete') {
                layer.confirm('真的删除'+ data.name +'么?', function(index){
                    layer.close(index);
                    //向服务端发送删除指令
                    deleteParam(data.code, data.type);
                    // obj.del(); //删除对应行（tr）的DOM结构
                    location.reload();
                });
            }
        });
        active = {
            add: function () {
                layer.open({
                    type: 1
                    ,title: '添加/修改字典数据'
                    , id: 'layerDemo' //防止重复弹出
                    , content: $('#model')
                    // ,btn: '关闭全部'
                    , area: ['800px', '400px']//定义宽和高
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    , yes: function () {
                        layer.closeAll();
                    }
                });
            }
        };
    });

    function showDialog(type){
        $("#code").val('');
        $("#name").val('');
        active.add();
    }

    function updateParam(code, type, name){
        $("#code").val(code);
        $("#name").val(name);
        active.add();
    }

    function deleteParam(code, type){
        var url = "/param";
        var req = {
            "code" : code,
            "type": type
        }
        $.ajax({
            url: url,
            type:"delete",
            data : JSON.stringify(req),
            dataType:'json',
            contentType: 'application/json',
            success: function (data){
                if(data.code=="00000000") {
                    getData();
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        });
    }

    function submitParam(){
        var type =$("#type").val();
        var code =$("#code").val();
        var name =$("#name").val();
        var req = {
            "code": code,
            "type": type,
            "name": name
        }
        var url = "/param";
        $.ajax({
            url: url,
            type:"post",
            data : JSON.stringify(req),
            dataType:'json',
            contentType: 'application/json',
            success: function (data){
                if(data.code!="00000000"){
                    alert("添加失败！");
                }
                location.reload();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        });
    }
</script>
</body>
</html>