<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div class="nav-navicon admin-main admin-sidebar">
    <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎</div>
    <div class="sideMenu">
        <h3 class="am-icon-flag on"><em></em> <a th:href="@{/main.html}">股票基金汇总</a></h3>
<!--        <ul id="moneyList">-->
        </ul>
        <h3 class="am-icon-flag on"><em></em> <a th:href="@{/fund.html}">基金</a></h3>
<!--        <ul id="financingList">-->
        </ul>
        <h3 class="am-icon-flag on"><em></em> <a th:href="@{/stock.html}">股票</a></h3>
<!--        <ul id="creditcardList">-->
        </ul>
        <h3 class="am-icon-flag on"><em></em> <a th:href="@{/deposit.html}">收益汇总</a></h3>
<!--        <ul id="creditcardList">-->
        </ul>
    </div>

    <script type="text/javascript">
        jQuery(".sideMenu");/*.slide({
                titCell:"h3", //鼠标触发对象
                targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
                effect:"slideDown", //targetCell下拉效果
                delayTime:300 , //效果时间
                triggerTime:150, //鼠标延迟触发时间（默认150）
                defaultPlay:true,//默认是否执行效果（默认true）
                returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
            });*/
    </script>
</div>
</html>