<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>股票</title>
    <link rel="stylesheet" th:href="@{/css/main.admin.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/main.amazeui.min.css}" type="text/css" media="all"/>
    <link href="https://cdn.staticfile.org/layui/2.7.6/css/layui.css" rel="stylesheet">
    <style>
        body{padding: 6px 16px;}
        .demo-carousel{height: 200px; line-height: 200px; text-align: center;}
    </style>
</head>
<body>
<header class="menu">
    <div th:replace="headerNew.html"></div>
</header>
<blockquote class="layui-elem-quote">股票：您可在此页面查看股票当日情况，以及添加修改删除股票。<a href="mailto:buxuesong@foxmail.com">有任何问题点击这里联系作者: buxuesong@foxmail.com</a></blockquote>
<div class="checkbox">
    <input id="enableAutoRefresh" type="checkbox" checked="checked" name="enableAutoRefresh"> 定时刷新
</div>

<div>
    <div id="model" style="display: none;">
        <div class="modal-dialog modal-lg" style="padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px">
            <div class="modal-content">

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <form class="am-form" id="saveOutComeForm">
                        <input type="hidden" id="type" th:value="stock"/>
                        <div class="am-form-group am-cf">
                            <div class="zuo">股票编码：</div>
                            <div class="you">
                                <input type="text" class="am-input-sm" id="code" placeholder="股票请输入编码sh(上证)/sz(深证)开头+6位股票编码">
                            </div>
                        </div>
                        <div class="am-form-group am-cf">
                            <div class="zuo">持仓成本：</div>
                            <div class="you">
                                <input type="number" class="am-input-sm" id="costPrise" placeholder="请输入持仓成本">
                            </div>
                        </div>
                        <div class="am-form-group am-cf">
                            <div class="zuo">持有份额：</div>
                            <div class="you">
                                <input type="number" class="am-input-sm" id="bonds" placeholder="请输入持有份额">
                            </div>
                        </div>
                        <div class="am-form-group am-cf">
                            <div class="zuo">APP：</div>
                            <div class="you">
                                <select data-am-selected="{btnSize: 'sm'}" id="app">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="layui-btn" onclick="submitStockAndFund()">保存</button>
                    <button type="button" class="layui-btn" onclick="layer.closeAll();">关闭</button>
                </div>

            </div>
        </div>
    </div>
</div>

<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="delete">删除</a>
    <!--    <a class="layui-btn layui-btn-xs" lay-event="more">更多 <i class="layui-icon layui-icon-down"></i></a>-->
</script>
<script th:src="@{/js/BigDecimal.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<!-- 自动刷新 -->
<script th:src="@{/js/trading-time-refresh.js}"></script>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>

<script>
    var appList;
    var stockTable;
    var active;
    $.ajax({
        url:"/param?type=APP",
        type:"get",
        data :{},
        dataType:'json',
        contentType: 'application/x-www-form-urlencoded',
        success: function (data){
            appList = data.value;
            var app = $("#app");
            app.find('option').remove();
            app.append("<option value=''>请选择</option>");
            for(var k in appList) {
                var opt = $("<option></option>").text(appList[k].name).val(appList[k].code);
                app.append(opt);
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(XMLHttpRequest.status);
            console.log(XMLHttpRequest.readyState);
            console.log(textStatus);
        }
    });
    layui.use(function(){
        // 得到需要的内置组件
        var layer = layui.layer; //弹层
        var table = layui.table; //表格
        var dropdown = layui.dropdown; //下拉菜单

        // 向世界问个好
        layer.msg('股票：您可在此页面查看股票当日情况，以及添加修改删除股票。');

        // 执行一个 table 实例
        stockTable = table.render({
            elem: '#demo'
            // ,height: 600
            ,url: '/stock' //数据接口（此处为静态数据，仅作演示）
            ,title: '用户表'
            ,even: true //开启隔行背景
            // ,page: true //开启分页
            ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,totalRow: true //开启合计行
            ,parseData: function(res){ //res 即为原始返回的数据
                var totalMarketValue = new BigDecimal("0");
                for(var i=0;i<res.value.length;i++) {
                    var item = res.value[i];
                    totalMarketValue = totalMarketValue.add((new BigDecimal(item.now)).multiply(new BigDecimal(item.bonds)));
                }
                for(var i=0;i<res.value.length;i++){
                    var item = res.value[i];
                    for(var k in appList) {
                        if(item.app == appList[k].code){
                            item.appNew = appList[k].name;
                        }
                    }
                    var buyOrSells = item.buyOrSellStockRequestList;
                    var todayBuyIncom = new BigDecimal("0");
                    var todaySellIncom = new BigDecimal("0");
                    var maxBuyOrSellBonds = 0;
                    for(var l in buyOrSells) {
                        if(buyOrSells[l].bonds > maxBuyOrSellBonds){
                            maxBuyOrSellBonds = buyOrSells[l].bonds;
                        }
                        // 当天购买过
                        if(buyOrSells[l].type == "1") {
                            console.log("买入价格"+buyOrSells[l].price);
                            var buyIncome = new BigDecimal("0");
                            buyIncome = (new BigDecimal(item.change))
                                .add(new BigDecimal(item.now))
                                .subtract(new BigDecimal(buyOrSells[l].price+""))
                                .multiply(new BigDecimal(buyOrSells[l].bonds+""))
                                .subtract(new BigDecimal(buyOrSells[l].cost+""));
                            todayBuyIncom = todayBuyIncom.add(buyIncome);
                            console.log("买入收益："+todayBuyIncom);
                        }
                        // 当天卖出过
                        if(buyOrSells[l].type == "2") {
                            console.log("卖出价格"+buyOrSells[l].price);
                            var sellIncome = new BigDecimal("0");
                            //开盘价格
                            var openPrice = (new BigDecimal(item.now)).subtract(new BigDecimal(item.change));
                            console.log("当前价格："+(new BigDecimal(item.now)));
                            console.log("涨跌价格："+(new BigDecimal(item.change)));
                            console.log("开盘价格："+openPrice);
                            sellIncome = (new BigDecimal(buyOrSells[l].price+"")).subtract(openPrice)
                                .multiply(new BigDecimal(buyOrSells[l].bonds+""))
                                .subtract(new BigDecimal(buyOrSells[l].cost+""));
                            todaySellIncom = todaySellIncom.add(sellIncome);
                            console.log("卖出收益："+todaySellIncom);
                        }
                    }
                    console.log("买卖最大数"+maxBuyOrSellBonds);
                    if (maxBuyOrSellBonds < item.bonds){
                        var restBonds = (new BigDecimal(item.bonds)).subtract(new BigDecimal(maxBuyOrSellBonds+""));
                        console.log("剩余股数："+restBonds);
                        dayIncome = (new BigDecimal(item.change)).multiply(restBonds);
                    } else {
                        dayIncome = new BigDecimal("0");
                    }
                    console.log(item.name+"计算当日买卖前："+ dayIncome);
                    console.log(item.name+"计算："+ dayIncome.add(todayBuyIncom).add(todaySellIncom));
                    item.dayIncome = dayIncome.add(todayBuyIncom).add(todaySellIncom);
                    console.log(item.name+"计算当日买卖后："+ dayIncome);
                    var marketValue = new BigDecimal("0");
                    marketValue = (new BigDecimal(item.now)).multiply(new BigDecimal(item.bonds));
                    item.marketValue = marketValue +'';
                    item.marketValuePercent = marketValue.multiply(new BigDecimal("100")).divide(totalMarketValue) + "";
                    item.dayInComeColor = item.dayIncome == 0 ? "" : (item.dayIncome >= 0?"#c12e2a":"#3e8f3e");
                    item.toltalIncomeColor = item.income == 0 ? "" : (item.income >= 0?"#c12e2a":"#3e8f3e");
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.value.length, //解析数据长度
                    "data": res.value //解析数据列表
                };
            }
            ,cols: [ [ //表头
                {type: 'checkbox'}
                ,{field: 'appNew', title: 'APP', width: 120, sort: true,totalRow: '合计：',templet: function(d){return '<a style="color: #0000FF" onclick="filterApp(\'' + d.app + '\')">'+ d.appNew +'</a>'}}
                ,{field: 'name', title: '股票名称', width:120}
                ,{field: 'change', title: '涨跌', width:80,templet: function(d){return '<span style="color: ' + d.dayInComeColor + '">'+ d.change +'</span>'}}
                ,{field: 'changePercent', title: '涨跌幅 %', width:120, sort: true,templet: function(d){return '<span style="color: ' + d.dayInComeColor + '">'+ d.changePercent +'</span>'}}
                ,{field: 'dayIncome', title: '当日盈利', width: 120, sort: true, totalRow: true,templet: function(d){return '<span style="color: ' + d.dayInComeColor + '">'+ d.dayIncome +'</span>'}}
                ,{field: 'max', title: '最高价', width:100}
                ,{field: 'min', title: '最低价', width: 100}
                ,{field: 'now', title: '当前价', width: 100}
                ,{field: 'costPrise', title: '成本价', width: 100}
                ,{field: 'bonds', title: '持仓', width: 100, sort: true}
                ,{field: 'marketValue', title: '市值/金额', width: 135, sort: true, totalRow: true}
                ,{field: 'marketValuePercent', title: '持仓比率 %', width: 120, sort: true}
                ,{field: 'incomePercent', title: '收益率 %', width: 120, sort: true,templet: function(d){return '<span style="color: ' + d.toltalIncomeColor + '">'+ d.incomePercent +'</span>'}}
                ,{field: 'income', title: '收益', width: 120, sort: true, totalRow: true,templet: function(d){return '<span style="color: ' + d.toltalIncomeColor + '">'+ d.income +'</span>'}}
                ,{title: '操作', width: 135, align:'center', toolbar: '#barDemo'}
            ] ]
        });

        // 头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id)
                ,data = checkStatus.data; //获取选中的数据
            switch(obj.event){
                case 'add':
                    layer.msg('添加');
                    showDialog('stock');
                    break;
                case 'update':
                    if(data.length === 0){
                        layer.msg('请选择一行');
                    } else if(data.length > 1){
                        layer.msg('只能同时编辑一个');
                    } else {
                        updateStock(checkStatus.data[0].code, checkStatus.data[0].costPrise, checkStatus.data[0].bonds, checkStatus.data[0].app);
                    }
                    break;
                case 'delete':
                    if(data.length === 0 || data.length > 1){
                        layer.msg('请选择一行');
                    } else {
                        layer.msg('删除');
                        layer.confirm('真的删除'+ checkStatus.data[0].name +'么?', function(index){
                            layer.close(index);
                            //向服务端发送删除指令
                            deleteStock(checkStatus.data[0].code);
                            // obj.del(); //删除对应行（tr）的DOM结构
                            location.reload();
                        });

                    }
                    break;
            };
        });

        //定时刷新
        var time = setInterval('autoRefresh()', 30000)

        // 单元格工具事件
        table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'edit') {
                layer.msg('编辑操作');

                updateStock(data.code, data.costPrise, data.bonds, data.app);
            } else if (layEvent === 'delete') {
                layer.confirm('真的删除'+ data.name +'么?', function(index){
                    layer.close(index);
                    //向服务端发送删除指令
                    deleteStock(data.code);
                    // obj.del(); //删除对应行（tr）的DOM结构
                    location.reload();
                });
            }
            // } else if(layEvent === 'more'){
            //     //下拉菜单
            //     dropdown.render({
            //         elem: this //触发事件的 DOM 对象
            //         ,show: true //外部事件触发即显示
            //         ,data: [{
            //             title: '编辑'
            //             ,id: 'edit'
            //         },{
            //             title: '删除'
            //             ,id: 'del'
            //         }]
            //         ,click: function(menudata){
            //             if(menudata.id === 'del'){
            //                 layer.confirm('真的删除'+ data.fundName +'么?', function(index){
            //                     layer.close(index);
            //                     //向服务端发送删除指令
            //                     deleteFund(data.fundCode, obj);
            //                     // obj.del(); //删除对应行（tr）的DOM结构
            //                     location.reload();
            //                 });
            //             } else if(menudata.id === 'edit'){
            //                 layer.msg('编辑操作，当前行 CODE:'+ data.fundCode);
            //                 updateFund(data.fundCode);
            //             }
            //         }
            //         ,align: 'right' //右对齐弹出
            //         ,style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);' //设置额外样式
            //     })
            // }
        });
        // // 分页
        // laypage.render({
        //     elem: 'pageDemo' //分页容器的id
        //     ,count: 1000 //数据总数
        //     ,limit: 10 //每页显示的数据条数
        //     ,skin: '#1E9FFF' //自定义选中色值
        //     //,layout: ['prev', 'page', 'next', 'count', 'limit', 'refresh', 'skip'] //自定义排版
        //     ,jump: function(obj, first){
        //         if(!first){
        //             layer.msg('第'+ obj.curr +'页', {offset: 'b'});
        //         }
        //     }
        // });
        active = {
            add: function () {
                layer.open({
                    type: 1
                    ,title: '添加/修改股票'
                    , id: 'layerDemo' //防止重复弹出
                    , content: $('#model')
                    // ,btn: '关闭全部'
                    , area: ['800px', '600px']//定义宽和高
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    , yes: function () {
                        layer.closeAll();
                    }
                });
            }
        };
    });

    function showDialog(type) {
        $("#code").val('');
        $("#costPrise").val('');
        $("#bonds").val('100');
        $("#app").val('');
        active.add();
        // var iHeight = 600;
        // var iWidth = 800;
        // //获得窗口的垂直位置
        // var iTop = (window.screen.availHeight - 30 - iHeight) / 2;
        // //获得窗口的水平位置
        // var iLeft = (window.screen.availWidth - 10 - iWidth) / 2;
        // var url = '/addStockAndFund.html?type='+type;
        //
        // window.open (url, 'newwindow', 'height='+iHeight+', width='+iWidth+', top='+iTop+', left='+iLeft+', toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');
    }

    function updateStock(code, costPrise, bonds, app) {
        $("#code").val(code);
        $("#costPrise").val(costPrise);
        $("#bonds").val(bonds);
        $("#app").val(app);
        active.add();

        // var iHeight = 600;
        // var iWidth = 800;
        // //获得窗口的垂直位置
        // var iTop = (window.screen.availHeight - 30 - iHeight) / 2;
        // //获得窗口的水平位置
        // var iLeft = (window.screen.availWidth - 10 - iWidth) / 2;
        // window.open ('/updateStockAndFund.html?code='+code+'&type=stock', 'newwindow', 'height='+iHeight+', width='+iWidth+', top='+iTop+', left='+iLeft+', toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');
    }

    function deleteStock(code) {
        var url = "/deleteStock";
        var req = {
            "code" : code
        }
        $.ajax({
            url: url,
            type:"post",
            data : JSON.stringify(req),
            dataType:'json',
            contentType: 'application/json',
            success: function (data){
                if(data.code=="00000000") {
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        });
    }

    function filterApp(app) {
        stockTable.reload({
            url: '/stock?app='+app
        });
    }

    function submitStockAndFund(){
        var type =$("#type").val();
        var code =$("#code").val();
        var costPrise =$("#costPrise").val();
        var bonds =$("#bonds").val();
        var app = $("#app").val();
        var req = {
            "code": code,
            "costPrise": costPrise,
            "bonds": bonds,
            "app": app
        }
        var url = null;
        if(type=="fund"){
            url = "/saveFund";
        }else{
            url = "/saveStock";
        }
        $.ajax({
            url: url,
            type:"post",
            data : JSON.stringify(req),
            dataType:'json',
            contentType: 'application/json',
            success: function (data){
                if(data.code!="00000000"){
                    alert("添加失败！");
                }
                location.reload();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
            }
        });
    }
</script>
</body>
</html>