<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>股票</title>
    <link rel="stylesheet" th:href="@{/css/main.admin.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/main.amazeui.min.css}" type="text/css" media="all"/>
    <script th:src="@{/js/stock.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/sidebar.js}"></script>
    <script th:src="@{/js/BigDecimal.js}"></script>
    <!-- 日历控件 -->
    <script th:src="@{/js/laydate.js}"></script>
</head>
<body onload="sidebar();getData()">

<header class="menu">
    <div th:replace="header.html"></div>
</header>

<div class="am-cf admin-main">

    <div th:replace="sidebar.html"></div>

    <div class=" admin-content">
        <div class="daohang"></div>
        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-users"> 股票明细
                </ul>
                <dl class="am-icon-home" style="float: right;">
                    当前位置： 首页 > <a href="#">股票明细</a>
                </dl>
                <dl>
                    <button type="button" onclick="showDialog('stock')" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus" > 添加股票</button>
                </dl>
            </div>
            <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf"></div>
            <form class="am-form am-g">
                <input type="hidden" th:value="${userId}" id="userId"/>
                <input type="hidden" th:value="${personName}" id="personName"/>
                <input type="hidden" id="accountId"/>
                <input type="hidden" id="typeId"/>
                <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
                    <thead>
                    <tr class="am-success">
                        <!--<th class="table-check"><input type="checkbox" /></th>-->

                        <!--<th class="table-id">ID</th>-->
                        <th class="table-author am-hide-sm-only">APP</th>
                        <th class="table-title">编码</th>
                        <th class="table-type">股票名称</th>
                        <th class="table-author am-hide-sm-only">涨跌</th>
                        <th class="table-author am-hide-sm-only">涨跌幅</th>
                        <th class="table-author am-hide-sm-only">当日盈利</th>
                        <th class="table-author am-hide-sm-only">最高价</th>
                        <th class="table-date am-hide-sm-only">最低价</th>
                        <th class="table-author am-hide-sm-only">当前价</th>
                        <th class="table-author am-hide-sm-only">成本价</th>
                        <th class="table-author am-hide-sm-only">持仓</th>
                        <th class="table-author am-hide-sm-only">收益率</th>
                        <th class="table-author am-hide-sm-only">市值/金额</th>
                        <th class="table-author am-hide-sm-only">收益</th>
                        <th class="table-author am-hide-sm-only">操作</th>
                    </tr>
                    </thead>
                    <tbody id="nr">
                    </tbody>
                </table>
                <div id="page"></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>