<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>股票基金汇总</title>
    <link rel="stylesheet" th:href="@{/css/main.admin.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/main.amazeui.min.css}" type="text/css" media="all"/>
    <link href="https://cdn.staticfile.org/layui/2.7.6/css/layui.css" rel="stylesheet">
    <style>
        body{padding: 6px 16px;}
        .demo-carousel{height: 200px; line-height: 200px; text-align: center;}
    </style>
</head>
<body>
<header class="menu">
    <div th:replace="headerNew.html"></div>
</header>
<blockquote class="layui-elem-quote">股票基金汇总：您可在此页面查看股票基金当日情况。<a href="mailto:buxuesong@foxmail.com">有任何问题点击这里联系作者: buxuesong@foxmail.com</a></blockquote>
<div class="checkbox">
    <input id="enableAutoRefresh" type="checkbox" checked="checked" name="enableAutoRefresh"> 定时刷新
</div>
<table class="layui-hide" id="demo" lay-filter="test"></table>

<script th:src="@{/js/BigDecimal.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>

<script>
    var appList;
    $.ajax({
        url:"/param?type=APP",
        type:"get",
        data :{},
        dataType:'json',
        contentType: 'application/x-www-form-urlencoded',
        success: function (data){
            appList = data.value;
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(XMLHttpRequest.status);
            console.log(XMLHttpRequest.readyState);
            console.log(textStatus);
        }
    });
    layui.use(function(){
        // 得到需要的内置组件
        var layer = layui.layer; //弹层
        var table = layui.table; //表格

        // 向世界问个好
        layer.msg('股票基金汇总：您可在此页面查看股票基金当日情况。');

        // 执行一个 table 实例
        table.render({
            elem: '#demo'
            ,url: '/stockAndFund' //数据接口（此处为静态数据，仅作演示）
            ,title: '用户表'
            ,even: true //开启隔行背景
            ,size: 'sm' //小尺寸的表格
            ,totalRow: true //开启合计行
            ,parseData: function(res){ //res 即为原始返回的数据
                var totalMarketValue = new BigDecimal("0");
                for(var i=0;i<res.value.length;i++) {
                    var item = res.value[i];
                    if(item.type == 'STOCK'){
                        totalMarketValue = totalMarketValue.add((new BigDecimal(item.now)).multiply(new BigDecimal(item.bonds)));
                    }else if(item.type == 'FUND'){
                        totalMarketValue = totalMarketValue.add(new BigDecimal(parseFloat((new BigDecimal(item.gsz)).multiply(new BigDecimal(item.bonds))).toFixed(2)));
                    }
                }

                for(var i=0;i<res.value.length;i++){
                    var item = res.value[i];
                    for(var k in appList) {
                        if(item.app == appList[k].code){
                            item.appNew = appList[k].name;
                        }
                    }
                    if(item.type == 'STOCK'){
                        item.typeNew = '股票';
                        item.dayIncome = (new BigDecimal(item.change)).multiply(new BigDecimal(item.bonds)) +'';
                        var marketValue = new BigDecimal("0");
                        marketValue = (new BigDecimal(item.now)).multiply(new BigDecimal(item.bonds));
                        item.marketValue = marketValue +'';
                        item.changePercentAndGszzl = item.changePercent;
                        item.nowAndGsz = item.now;
                        item.dwjzNew = 'N/A';
                        item.marketValuePercent = marketValue.multiply(new BigDecimal("100")).divide(totalMarketValue) + "";
                    }else if(item.type == 'FUND'){
                        item.typeNew = '基金';
                        item.dayIncome = new BigDecimal(parseFloat((new BigDecimal(item.gszzl))
                            .multiply((new BigDecimal(item.dwjz))).multiply(new BigDecimal(item.bonds))
                            .divide(new BigDecimal("100"))).toFixed(2)) +'';
                        var marketValue = new BigDecimal("0");
                        marketValue = new BigDecimal(parseFloat((new BigDecimal(item.gsz)).multiply(new BigDecimal(item.bonds))).toFixed(2));
                        item.marketValue = marketValue +'';
                        item.changePercentAndGszzl = item.gszzl;
                        item.dwjzNew = item.dwjz+ '(' + item.jzrq + ')';
                        item.nowAndGsz = item.gsz;
                        item.change = 'N/A';
                        item.max = 'N/A';
                        item.min = 'N/A';
                        item.marketValuePercent = marketValue.multiply(new BigDecimal("100")).divide(totalMarketValue) + "";
                    }
                    item.color = item.dayIncome >= 0?"#c12e2a":"#3e8f3e";
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.value.length, //解析数据长度
                    "data": res.value //解析数据列表
                };
            }
            ,cols: [ [ //表头
               {field: 'typeNew', title: '基金/股票', width: 90, sort: true,totalRow: '合计：',templet: function(d){return '<span style="color: ' + d.color + '">'+ d.typeNew +'</span>'}}
                ,{field: 'appNew', title: 'APP', width: 90, sort: true,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.appNew +'</span>'}}
                ,{field: 'code', title: '股票/基金编码', width:120, sort: true,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.code +'</span>'}}
                ,{field: 'name', title: '股票/基金名称', width:190,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.name +'</span>'}}
                ,{field: 'change', title: '涨跌', width:70,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.change +'</span>'}}
                ,{field: 'dayIncome', title: '当日盈利', width: 100, sort: true, totalRow: true,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.dayIncome +'</span>'}}
                ,{field: 'changePercentAndGszzl', title: '涨跌幅 %', width:100, sort: true,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.changePercentAndGszzl +'</span>'}}
                ,{field: 'max', title: '最高价', width:90,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.max +'</span>'}}
                ,{field: 'min', title: '最低价', width: 90,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.min +'</span>'}}
                ,{field: 'nowAndGsz', title: '当前价/估算净值', width: 110,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.nowAndGsz +'</span>'}}
                ,{field: 'dwjzNew', title: '当日净值', width: 180,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.dwjzNew +'</span>'}}
                ,{field: 'costPrise', title: '成本价', width: 80,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.costPrise +'</span>'}}
                ,{field: 'bonds', title: '持仓', width: 110, sort: true,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.bonds +'</span>'}}
                ,{field: 'incomePercent', title: '收益率 %', width: 150, sort: true,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.incomePercent +'</span>'}}
                ,{field: 'marketValue', title: '市值/金额', width: 150, sort: true, totalRow: true,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.marketValue +'</span>'}}
                ,{field: 'marketValuePercent', title: '持仓比率 %', width: 110, sort: true,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.marketValuePercent +'</span>'}}
                ,{field: 'income', title: '收益', width: 150, sort: true, totalRow: true,templet: function(d){return '<span style="color: ' + d.color + '">'+ d.income +'</span>'}}
            ] ]
        });

        //定时刷新
        var time = setInterval(function () {
            var date = new Date();
            if ($("#enableAutoRefresh").is(":checked") && date.toLocaleTimeString() >= "09:15:00"
                && date.toLocaleTimeString() <= "15:00:00") {
                window.location.reload()
            }
        }, 30000);

    });
</script>
</body>
</html>