<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>股票基金汇总</title>
    <link rel="stylesheet" th:href="@{/css/main.admin.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/main.amazeui.min.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css" media="all"/>
    <script th:src="@{/js/stockAndFund.js}"></script>
    <script th:src="@{/js/stockLargeMarket.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/sidebar.js}"></script>
    <script th:src="@{/js/BigDecimal.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- 日历控件 -->
    <script th:src="@{/js/laydate.js}"></script>
    <!-- 自动刷新 -->
    <script th:src="@{/js/trading-time-refresh.js}"></script>
</head>
<body onload="sidebar();getData();getLargeMarketData();">

<header class="menu">
    <div th:replace="header.html"></div>
</header>

<div class="am-cf admin-main">

    <div th:replace="sidebar.html"></div>
    <!-- 分时图模态框 -->
    <div class="modal fade" id="time-image-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <input type="hidden" id="time-image-code"/>
                <input type="hidden" id="time-image-type"/>
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">分时图</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <div id="time-image" ></div>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="time-image-minute-button" onclick="showTimeImage()">分时线</button>
                    <button type="button" class="btn btn-primary" id="time-image-day-button" onclick="showDayImage()">日线</button>
                    <button type="button" class="btn btn-primary" id="time-image-week-button" onclick="showWeekImage()">周线</button>
                    <button type="button" class="btn btn-primary" id="time-image-month-button" onclick="showMonthImage()">月线</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>

    <div class=" admin-content">
        <div class="daohang"><div class="daohang-margin" id="stockLargeMarket"></div></div>
        <div class="admin-biaogelist">
            <div class="listbiaoti am-cf">
                <ul class="am-icon-users"> 股票基金汇总
                </ul>
                <dl class="am-icon-home" style="float: right;">
                    当前位置： 首页 > <a href="#">股票基金汇总</a>
                </dl>
                <dl>
                    <div class="checkbox">
                        <input id="enableAutoRefresh" type="checkbox" checked="checked" name="enableAutoRefresh"> 定时刷新
                    </div>
                </dl>
                <dl>
                    <div class="checkbox">
                        <input id="enableFilterHide" onchange="enableFilterHideChanged()" type="checkbox" checked="checked" name="enableAutoRefresh"> 不展示隐藏股票
                    </div>
                </dl>
            </div>
            <div class="am-btn-toolbars am-btn-toolbar am-kg am-cf"></div>
            <form class="am-form am-g">
                <input type="hidden" id="hideHidden" th:value="${hide}"/>
                <input type="hidden" th:value="${userId}" id="userId"/>
                <input type="hidden" th:value="${personName}" id="personName"/>
                <input type="hidden" id="accountId"/>
                <input type="hidden" id="typeId"/>
                <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
                    <thead>
                    <tr class="am-success">
                        <!--<th class="table-check"><input type="checkbox" /></th>-->

                        <!--<th class="table-id">ID</th>-->
                        <th class="table-author am-hide-sm-only">APP</th>
                        <th class="table-author am-hide-sm-only">分时图</th>
                        <th class="table-type">股票名称</th>
                        <th class="table-author am-hide-sm-only">涨跌</th>
                        <th class="table-author am-hide-sm-only">当日盈利</th>
                        <th class="table-author am-hide-sm-only">涨跌幅</th>
                        <th class="table-author am-hide-sm-only">最高价</th>
                        <th class="table-date am-hide-sm-only">最低价</th>
                        <th class="table-author am-hide-sm-only">唐安奇通道</th>
                        <th class="table-author am-hide-sm-only">当前价</th>
                        <th class="table-author am-hide-sm-only">成本价</th>
                        <th class="table-author am-hide-sm-only">持仓</th>
                        <th class="table-author am-hide-sm-only">市值/金额</th>
                        <th class="table-author am-hide-sm-only">持仓占比</th>
                        <th class="table-author am-hide-sm-only">收益率</th>
                        <th class="table-author am-hide-sm-only">收益</th>
                    </tr>
                    </thead>
                    <tbody id="stock-nr">
                    </tbody>
                    <thead>
                    <tr class="am-success">
                        <!--<th class="table-check"><input type="checkbox" /></th>-->

                        <!--<th class="table-id">ID</th>-->
                        <th class="table-author am-hide-sm-only">APP</th>
                        <th class="table-author am-hide-sm-only">分时图</th>
                        <th class="table-type" colspan="2">基金名称</th>
                        <th class="table-author am-hide-sm-only">估算当日盈利</th>
                        <th class="table-author am-hide-sm-only" colspan="2">估算涨跌幅</th>
                        <th class="table-author am-hide-sm-only" colspan="2">当日净值</th>
                        <th class="table-author am-hide-sm-only">估算净值</th>
                        <th class="table-author am-hide-sm-only">持仓成本</th>
                        <th class="table-date am-hide-sm-only">持有份额</th>
                        <th class="table-author am-hide-sm-only">市值/金额</th>
                        <th class="table-author am-hide-sm-only">持仓占比</th>
                        <th class="table-author am-hide-sm-only">收益率</th>
                        <th>收益</th>
                    </tr>
                    </thead>
                    <tbody id="fund-nr">
                    </tbody>
                </table>
                <div id="page"></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>