<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>股票基金汇总</title>
    <link rel="stylesheet" th:href="@{/css/main.admin.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/main.amazeui.min.css}" type="text/css" media="all"/>
    <link href="https://cdn.staticfile.org/layui/2.7.6/css/layui.css" rel="stylesheet">
    <style>
        body{padding: 6px 16px;}
        .demo-carousel{height: 200px; line-height: 200px; text-align: center;}
    </style>
</head>
<body>
<header class="menu">
    <div th:replace="headerNew.html"></div>
</header>
<blockquote class="layui-elem-quote"><div height="60px" id="stockLargeMarket"></div></blockquote>
<blockquote class="layui-elem-quote">股票基金汇总：您可在此页面查看股票基金当日情况。<a href="mailto:buxuesong@foxmail.com">有任何问题点击这里联系作者: buxuesong@foxmail.com</a></blockquote>
<div class="checkbox">
    <input id="enableAutoRefresh" type="checkbox" checked="checked" name="enableAutoRefresh"> 定时刷新
</div>

<div>
    <div id="time-image-modal" style="display: none;">
        <div class="modal-dialog modal-lg" style="padding-top: 10px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px">
            <div class="modal-content">

                <input type="hidden" id="time-image-code"/>
                <input type="hidden" id="time-image-type"/>

                <!-- 模态框主体 -->
                <div class="modal-body">
                    <div id="time-image" ></div>
                </div>

                <div class="layui-btn-group">
                    <button type="button" class="layui-btn" id="time-image-minute-button" onclick="showTimeImage()">分时</button>
                    <button type="button" class="layui-btn" id="time-image-day-button" onclick="showDayImage()">日线</button>
                    <button type="button" class="layui-btn" id="time-image-week-button" onclick="showWeekImage()">周线</button>
                    <button type="button" class="layui-btn" id="time-image-month-button" onclick="showMonthImage()">月线</button>
                    <button type="button" class="layui-btn" onclick="layer.closeAll();">关闭</button>
                </div>

            </div>
        </div>
    </div>
</div>

<table class="layui-hide" id="demo" lay-filter="test"></table>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/BigDecimal.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/stockLargeMarket.js}"></script>
<!-- 自动刷新 -->
<script th:src="@{/js/trading-time-refresh.js}"></script>
<script src="https://cdn.staticfile.org/layui/2.7.6/layui.js"></script>

<script>
    var appList;
    var stockAndFundTable;
    $.ajax({
        url:"/param?type=APP",
        type:"get",
        data :{},
        dataType:'json',
        contentType: 'application/x-www-form-urlencoded',
        success: function (data){
            appList = data.value;
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            console.log(XMLHttpRequest.status);
            console.log(XMLHttpRequest.readyState);
            console.log(textStatus);
        }
    });
    getLargeMarketData();
    layui.use(function(){
        // 得到需要的内置组件
        var layer = layui.layer; //弹层
        var table = layui.table; //表格

        // 向世界问个好
        layer.msg('股票基金汇总：您可在此页面查看股票基金当日情况。');

        // 执行一个 table 实例
        stockAndFundTable = table.render({
            elem: '#demo'
            ,url: '/stockAndFund' //数据接口（此处为静态数据，仅作演示）
            ,title: '用户表'
            ,even: true //开启隔行背景
            // ,size: 'sm' //小尺寸的表格
            ,totalRow: true //开启合计行
            ,parseData: function(res){ //res 即为原始返回的数据
                var totalMarketValue = new BigDecimal("0");
                for(var i=0;i<res.value.length;i++) {
                    var item = res.value[i];
                    if(item.type == 'STOCK'){
                        totalMarketValue = totalMarketValue.add((new BigDecimal(item.now)).multiply(new BigDecimal(item.bonds)));
                    }else if(item.type == 'FUND'){
                        totalMarketValue = totalMarketValue.add(new BigDecimal(parseFloat((new BigDecimal(item.gsz)).multiply(new BigDecimal(item.bonds))).toFixed(2)));
                    }
                }

                for(var i=0;i<res.value.length;i++){
                    var item = res.value[i];
                    item.appNew = getAppName(item.app);
                    if(item.type == 'STOCK'){
                        item.typeNew = '股票';
                        var buyOrSells = item.buyOrSellStockRequestList;
                        var todayBuyIncom = new BigDecimal("0");
                        var todaySellIncom = new BigDecimal("0");
                        var maxBuyOrSellBonds = 0;
                        for(var l in buyOrSells) {
                            // 当天购买过
                            if(buyOrSells[l].type == "1") {
                                maxBuyOrSellBonds = maxBuyOrSellBonds + buyOrSells[l].bonds;
                                console.log("买入价格"+buyOrSells[l].price);
                                console.log("当前价格"+item.now);
                                var buyIncome = (new BigDecimal(item.now))
                                    .subtract(new BigDecimal(buyOrSells[l].price+""))
                                    .multiply(new BigDecimal(buyOrSells[l].bonds+""));
                                todayBuyIncom = todayBuyIncom.add(buyIncome);
                                console.log("买入收益："+todayBuyIncom);
                            }
                            // 当天卖出过
                            if(buyOrSells[l].type == "2") {
                                todaySellIncom = todaySellIncom.add(new BigDecimal(buyOrSells[l].income+""));
                                console.log("卖出收益："+todaySellIncom);
                            }
                        }
                        console.log("买卖最大数"+maxBuyOrSellBonds);
                        var dayIncome;
                        if (maxBuyOrSellBonds < item.bonds) {
                            var restBonds = (new BigDecimal(item.bonds)).subtract(new BigDecimal(maxBuyOrSellBonds+""));
                            console.log("剩余股数："+restBonds);
                            dayIncome = (new BigDecimal(item.change)).multiply(restBonds);
                        } else {
                            dayIncome = new BigDecimal("0");
                        }
                        console.log(item.name+"计算当日买卖前："+ dayIncome);
                        console.log(item.name+"计算："+ dayIncome.add(todayBuyIncom).add(todaySellIncom));
                        item.dayIncome = dayIncome.add(todayBuyIncom).add(todaySellIncom).setScale(2) + "";
                        console.log(item.name+"计算当日买卖后："+ dayIncome);
                        var marketValue = new BigDecimal("0");
                        marketValue = (new BigDecimal(item.now)).multiply(new BigDecimal(item.bonds));
                        item.marketValue = marketValue.setScale(2) +'';
                        item.changePercentAndGszzl = item.changePercent;
                        item.nowAndGsz = item.now;
                        item.dwjzNew = 'N/A';
                        if (totalMarketValue.compareTo(new BigDecimal("0")) != 0) {
                            item.marketValuePercent = marketValue.multiply(new BigDecimal("100")).divide(totalMarketValue) + "";
                        }
                        var day20Max = new BigDecimal(item.day20Max + "");
                        var day20Min = new BigDecimal(item.day20Min + "");
                        var day10Min = new BigDecimal(item.day10Min + "");
                        var now = new BigDecimal(item.now + "");
                        var donchianChennel = "20最高:" + day20Max + "；20最低：" + day20Min + "；10最低：" + day10Min + "；";
                        var donchianChennelColor = "";
                        if (now.compareTo(day20Max) > 0) {
                            donchianChennel += "破20高";
                            donchianChennelColor = "#c12e2a";
                        } else if(now.compareTo(day20Min) < 0) {
                            donchianChennel += "破20低";
                            donchianChennelColor = "#3e8f3e";
                        } else if(now.compareTo(day10Min) < 0) {
                            donchianChennel = "破10低";
                            donchianChennelColor = "#3e8f3e";
                        } else {
                            donchianChennel += "监控中";
                            donchianChennelColor = "";
                        }
                        item.donchianChennel = donchianChennel;
                        item.donchianChennelColor = donchianChennelColor;
                    }else if(item.type == 'FUND'){
                        item.typeNew = '基金';
                        item.dayIncome = new BigDecimal(parseFloat((new BigDecimal(item.gszzl))
                            .multiply((new BigDecimal(item.dwjz))).multiply(new BigDecimal(item.bonds))
                            .divide(new BigDecimal("100"))).toFixed(2)) +'';
                        var marketValue = new BigDecimal("0");
                        marketValue = new BigDecimal(parseFloat((new BigDecimal(item.gsz)).multiply(new BigDecimal(item.bonds))).toFixed(2));
                        item.marketValue = marketValue +'';
                        item.changePercentAndGszzl = item.gszzl;
                        item.dwjzNew = item.dwjz+ '(' + item.jzrq + ')';
                        item.nowAndGsz = item.gsz;
                        item.change = 'N/A';
                        item.max = 'N/A';
                        item.min = 'N/A';
                        item.donchianChennel = 'N/A';
                        item.donchianChennelColor = '';
                        if (totalMarketValue.compareTo(new BigDecimal("0")) != 0) {
                            item.marketValuePercent = marketValue.multiply(new BigDecimal("100")).divide(totalMarketValue) + "";
                        }
                    }
                    item.dayInComeColor = item.dayIncome == 0 ? "" : (item.dayIncome >= 0?"#c12e2a":"#3e8f3e");
                    item.toltalIncomeColor = item.income == 0 ? "" : (item.income >= 0?"#c12e2a":"#3e8f3e");
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.value.length, //解析数据长度
                    "data": res.value //解析数据列表
                };
            }
            ,cols: [ [ //表头
                {field: 'appNew', title: 'APP', width: 90, sort: true, templet: function(d){return '<a style="color: #0000FF" onclick="filterApp(\'' + d.app + '\')">'+ d.appNew +'</a>'}}
                ,{field: 'typeNew', title: '基金/股票', width: 110, sort: true,totalRow: '合计：'}
                ,{field: '', title: '分时图', width: 80, sort: true, templet: function(d){return '<a style="color: #0000FF" onclick="showTimeImageModal(\'' + d.code + '\',\'' + d.type + '\')">分时图</a>'}}
                ,{field: 'name', title: '股票/基金名称', width: 220}
                ,{field: 'change', title: '涨跌', width: 80,templet: function(d){return '<span style="color: ' + d.dayInComeColor + '">'+ d.change +'</span>'}}
                ,{field: 'dayIncome', title: '当日盈利', width: 110, sort: true, totalRow: true,templet: function(d){return '<span style="color: ' + d.dayInComeColor + '">'+ d.dayIncome +'</span>'}}
                ,{field: 'changePercentAndGszzl', title: '涨跌幅 %', width:120, sort: true,templet: function(d){return '<span style="color: ' + d.dayInComeColor + '">'+ d.changePercentAndGszzl +'</span>'}}
                ,{field: 'max', title: '最高价', width:90}
                ,{field: 'min', title: '最低价', width: 90}
                ,{field: 'donchianChennel', title: '唐安奇通道', width: 200, templet: function(d){return '<span style="color: ' + d.donchianChennelColor + '">'+ d.donchianChennel +'</span>'}}
                ,{field: 'nowAndGsz', title: '当前价/估算净值', width: 130,}
                ,{field: 'costPrise', title: '成本价', width: 100}
                ,{field: 'bonds', title: '持仓', width: 90, sort: true}
                ,{field: 'marketValue', title: '市值/金额', width: 150, sort: true, totalRow: true}
                ,{field: 'marketValuePercent', title: '持仓比率 %', width: 130, sort: true}
                ,{field: 'incomePercent', title: '收益率 %', width: 140, sort: true,templet: function(d){return '<span style="color: ' + d.toltalIncomeColor + '">'+ d.incomePercent +'</span>'}}
                ,{field: 'income', title: '收益', width: 120, sort: true, totalRow: true,templet: function(d){return '<span style="color: ' + d.toltalIncomeColor + '">'+ d.income +'</span>'}}
            ] ]
        });
        //定时刷新
        var time = setInterval('autoRefresh()', 30000);
        active = {
            timeImage: function () {
                layer.open({
                    type: 1
                    ,title: '走势图'
                    , id: 'layerDemo' //防止重复弹出
                    , content: $('#time-image-modal')
                    // ,btn: '关闭全部'
                    , area: ['800px', '600px']//定义宽和高
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    , yes: function () {
                        layer.closeAll();
                    }
                });
            }
        };

    });

    function filterApp(app) {
        stockAndFundTable.reload({
            url: '/stockAndFund?app='+app
        });
    }

    function initData() {
        stockAndFundTable.reload({
            url: '/stockAndFund'
        });
    }

    //展示分时图
    function showTimeImageModal(code, type) {
        console.log("分时图", code, "==", type);
        $("#time-image-code").val(code);
        $("#time-image-type").val(type);
        let path = "";
        if (type == "FUND") {
            path = "http://j4.dfcfw.com/charts/pic7/" + code + ".png";
            $("#time-image-day-button")[0].style.display  = 'none';
            $("#time-image-week-button")[0].style.display  = 'none';
            $("#time-image-month-button")[0].style.display  = 'none';
        } else {
            path = "http://image.sinajs.cn/newchart/min/n/" + code + ".gif";
            $("#time-image-day-button")[0].style.display  = 'inline';
            $("#time-image-week-button")[0].style.display  = 'inline';
            $("#time-image-month-button")[0].style.display  = 'inline';
        }
        active.timeImage();
        $("#time-image").html('<img src="' + path + '" width="100%" length="100%" />');
    }

    //展示分时图
    function showTimeImage() {
        let code = $("#time-image-code").val();
        let type = $("#time-image-type").val();
        console.log("分时图", code, "==", type);
        showTimeImageModal(code, type);
    }

    function showDayImage() {
        let code = $("#time-image-code").val();
        let type = $("#time-image-type").val();
        console.log("日线图", code, "==", type);
        let path = "";
        if (type == "FUND") {
            path = "http://j4.dfcfw.com/charts/pic7/" + code + ".png";
        } else {
            path = "http://image.sinajs.cn/newchart/daily/n/" + code + ".gif";
        }
        $("#time-image").html('<img src="' + path + '" width="100%" length="100%" />');
    }

    function showWeekImage() {
        let code = $("#time-image-code").val();
        let type = $("#time-image-type").val();
        console.log("周线图", code, "==", type);
        let path = "";
        if (type == "FUND") {
            path = "http://j4.dfcfw.com/charts/pic7/" + code + ".png";
        } else {
            path = "http://image.sinajs.cn/newchart/weekly/n/" + code + ".gif";
        }
        $("#time-image").html('<img src="' + path + '" width="100%" length="100%" />');
    }

    function showMonthImage() {
        let code = $("#time-image-code").val();
        let type = $("#time-image-type").val();
        console.log("月线图", code, "==", type);
        let path = "";
        if (type == "FUND") {
            path = "http://j4.dfcfw.com/charts/pic7/" + code + ".png";
        } else {
            path = "http://image.sinajs.cn/newchart/monthly/n/" + code + ".gif";
        }
        $("#time-image").html('<img src="' + path + '" width="100%" length="100%" />');
    }

    function largeMarketClick(timeImageCode) {
        $("#time-image-code").val(timeImageCode);
        $("#time-image-type").val("STOCK");
        let path = "http://image.sinajs.cn/newchart/min/n/" + timeImageCode + ".gif";
        $("#time-image-day-button")[0].style.display  = 'inline';
        $("#time-image-week-button")[0].style.display  = 'inline';
        $("#time-image-month-button")[0].style.display  = 'inline';
        active.timeImage();
        $("#time-image").html('<img src="'+path+'" width="100%" length="100%" />');
    }
</script>
</body>
</html>